@{
    ViewData["Title"] = "Display booties";
}

<h2>Dispay Booties</h2>

<p>Browse our new stock!</p>





<p>
    Nike
    <img src="@Url.Action("DisplayImage","Display", new {imageName ="nike.jpg"})" />
</p>

<p>
    Puma
    <img src="@Url.Action("DisplayImage","Display", new {imageName ="Puma.jpg"})" />
</p>

<p>
    Adidas
    <img src="@Url.Action("DisplayImage","Display", new {imageName ="Adidas.jpg"})" />
</p>

<p>
    Asics
    <img src="@Url.Action("DisplayImage","Display", new {imageName ="Asics.jpg"})" style="width: 212px; height: auto;" />
</p>